# Quarto
/_site/
/.quarto/
*_files/
*_cache/

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj.user

# resultados gerados
/resultados/
/dados/brutos/

# sistema
.DS_Store
Thumbs.db

# saidas do Quarto na raiz
/*.html

# scripts de teste gerados por R/gerar_r_teste.R
/R_teste/
